<!-- layout.html -->
<!doctype html>
<html>
<head>
  <title>{{title}}</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
      <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendors/bootstrap/css/bootstrap.min.css')}}"  rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='resources/css/shop-homepage.css')}}" rel="stylesheet">
</head>
<body>

  {% include 'nav.html' %}
  {% block content %}{% endblock %}
  {% include 'footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendors/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendors/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>
</html>